/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/bin/
/composer.phar
/vendor/
/web/bundles/
/app/config/parameters.yml

.sass-cache
node_modules
bower_components/*
!bower_components/bootstrap-sass
bower_components/bootstrap-sass/*
!bower_components/bootstrap-sass/assets
bower_components/bootstrap-sass/assets/*
!bower_components/bootstrap-sass/assets/stylesheets

# Mac OS X
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes
ubuntu*
*.swp