<!DOCTYPE html>
<html>
<head>
	<title>Contacto vía Web</title>
</head>
<body>
	<p>Se ha recibido un mensaje a través del formulario web de:</p>
	<p>	
		<span>{{ name }}</span><br>
		<span>Email: {{ email }}</span><br>
		<span>Teléfono: {{ phone }}</span><br>
	</p>
	<span>Con el siguiente mensaje:</span>
	<p>{{ message }}</p>
</body>
</html>