<!DOCTYPE html>
<html>
<head>
	<title>Contacto vía Web</title>
</head>
<body>
	<h1>Nuevo contacto de Net&Co</h1>
	<hr>
	<br>
	<p>Hemos recibido un nuevo contacto a través de la web.</p>
	<p>
		<h3>No ha contactad</h3>
		<span>Nombre: {{ name }}</span><br>
		<span>Email: {{ email }}</span><br>
		<span>Teléfono: {{ phone }}</span><br>
	</p>
	<p>
		<h3>Su mensaje es:</h3>
		{{ message }}
	</p>
	<br>
</body>
</html>
