@media (min-width:480px){
	.slideshow {
		display: block;
		margin-bottom: 10px;
	}
}
@media (max-width:480px){	
	#conectandoTalento .service-box2 .content2 {
		margin:5em 0 0 0em;
	}
	#sueños .left-box-1 { 
		width: 100%; 
		float: none;
	}
	#sueños .left-box-2 { width: 100%;
		float: none; 
	}
	#sueños .right-box-2 { 
		width: 100%; 
		float: none; 
	}
	#sueños .right-box-3 { 
		width: 100%; 
		float:none;
	}
	
	/* Transparencia Fotos Sueños 1ra y 2da Filas (Azules)*/
	.view h3 {
		 font-size:22px;
		 padding: 0;
		 margin: 0;
		 font-weight:10;
	}
	.view p {
		 font-size: 18px;
		 padding:0;
	}
	/* Fin Transparencias Fotos Sueños 1ra y 2da Filas */
	
	/* Transparencia Fotos Sueños 3ra Fila (Negros)*/
	.view2 h3 {
		 font-size: 22px;
		 padding: 0px;
		 margin:0px 0 0 0;
	}
	.view2 p {
		 font-size: 18px;
	}
	/* Fin Transparencias Fotos Sueños 3ra Fila */
	#antesFooter .description {
	  font-size: 22px;
	  font-weight: 300;
	  font-weight:bold;
	  position: relative;
	}
	#footer .social-icons {
	  text-align:center;
	  float:none;
	}
	#footer .copyright {
		float:none;
	  padding: 4em 0 0 1em;
	  font-size: 9px;
	  font-weight: 200;
	}
}
@media (min-width:760px){
	.intro {
		height:100%;
	}
	.slideshow {
		display: block;
	}
}
@media(max-width:760px){
	#somosTalento h1 {
	  font-size: 34px;
	}
	#somosTalento .imgnet {
		margin-top:0;
		margin-left:0;
	}
}
@media (min-width: 320px) and (max-width: 480px) {
  .navbar-collapse {
    background: #222;
    padding-bottom: 16px;
    overflow-y: scroll;
    max-height: 200px;
  }
  #intro .main-text h1 {
    font-size: 32px;
  }
  #intro .main-text h2 {
    font-size: 20px;
  }
  #contact .contact-form .controls input.contact_input {
    width: 80%;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  #header .navbar-header {
    width: 24%;
  }
  #header .navbar-brand img {
    width: 90%;
    padding: 8px 0px;
  }
  #header .nav {
	list-style: none;
	margin-top: 20px;
	margin-left:0em;
  }
  #header .nav li {
    margin: 3px 0 0px 32px;
  }
  #header .affix .nav {
    margin-top: 14px;
  }
  #intro .main-text h1 {
    font-size: 52px;
  }
  #intro .main-text h2 {
    font-size: 42px;
  }
  #contact .contact-form .controls input.contact_input {
    width: 80%;
  }
}
@media (max-width:768px) {
  #header .nav {
	list-style: none;
	margin-top: 20px;
	margin-left:0px;
  }
  #header .nav li {
  	margin: 0 0 0px 0px;
  }
}
@media (max-width:991px) {
   #intro .main-text {
  	  margin: 202px 0px;
  	  margin-left:0em;
  }
  #heroes {
	  display:none;
  }
  #nosotros {
	  background: #fff;
  }
  #nosotros .container h5 {
	  color:#1DA7C5;
  }
  #nosotros .content {
      background: #fff;
	  color:#000;
	  padding:0px;
  }
  #nosotros .content h2 {
  	display:none;
  }
  #nosotros .borderDerecha {
  	  border-right:none;
	  border-bottom:3px solid #1DA7C5;
  }
  #nosotros .icon-wrapper {
	  background: #fff;
  }
  #nosotros .icon-wrapperIzq {
	  left:0%;
  }
  #nosotros .icon-wrapperDer {
	  left:65%;
  }
}
@media(max-width:1695px){
	#sueños .mid-box p {
		line-height:1.5em; 
		font-size:16px;
	}
}
@media(max-width:1363px){
	#sueños .mid-box p {
		padding: 2em 0.8em 0em 0.8em;
		line-height:1.8em; 
		font-size:14px;
	}
	#sueños .mid-box h1 {
		font-size:18px;
	}
}
@media(max-width:1199px){
	#sueños .mid-box p {
		padding: 2em 0.8em 0em 0.8em;
		line-height:1.8em; 
		font-size:14px;
	}
	#sueños .mid-box p:last-child {
		padding-bottom:2em;
	}
	#sueños .mid-box h1 {
		font-size:24px;
	}
	/* Transparencia Fotos Sueños 1ra y 2da Filas */
	.view-sixth img {
		   transition: all 0.4s ease-in-out 0.5s;
	}
	.view-sixth .mask {
		 background:rgba(66,198,221,0.9);
		 filter: alpha(opacity=0);
		 opacity: 1;
		 transition: all 0.3s ease-in 0.4s;
	}
	.view-sixth h3 {
		filter: alpha(opacity=0);
		opacity: 1;
		background: transparent;
		transform: scale(1);
		transition: all 0.3s ease-in-out 0.1s;
	}
	.view-sixth p {
		 filter: alpha(opacity=0);
		 opacity: 1;
		 transform: scale(1);
		 transition: all 0.3s ease-in-out 0.2s;
	}
	.view h3 {
		 font-size:30px;
		 padding: 10px;
		 margin: 55px 0 0 0;
		 font-weight:100;
	}
	.view p {
		 font-size: 22px;
		 padding: 10px 20px 20px;
	}
	/* Fin Transparencias Fotos Sueños 1ra y 2da Filas */
	
	/* Transparencia Fotos Sueños 3ra Fila */
	.view-sixth2 img {
		   transition: all 0.4s ease-in-out 0.5s;
	}
	.view-sixth2 .mask {
		 background:rgba(0,0,0,0.8);
		 filter: alpha(opacity=0);
		 opacity: 1;
		 transition: all 0.3s ease-in 0.4s;
	}
	.view-sixth2 h3 {
		filter: alpha(opacity=0);
		opacity: 1;
		background: transparent;
		transform: scale(1);
		transition: all 0.3s ease-in-out 0.1s;
	}
	.view-sixth2 p {
		 filter: alpha(opacity=0);
		 opacity: 1;
		 transform: scale(1);
		 transition: all 0.3s ease-in-out 0.2s;
	}
	.view2 h3 {
		 font-size: 30px;
		 padding: 10px;
		 margin: 35px 0 0 0;
	}
	.view2 p {
		 font-size: 22px;
	}
	/* Fin Transparencias Fotos Sueños 3ra Fila */
}
@media(max-width:660px){
	/* Transparencia Fotos Sueños 1ra y 2da Filas */
	.view h3 {
		 font-size:18px;
		 padding: 10px;
		 margin: 55px 0 0 0;
		 font-weight:100;
	}
	.view p {
		 font-size: 12px;
		 padding: 10px 20px 20px;
	}
	/* Fin Transparencias Fotos Sueños 1ra y 2da Filas */
	
	/* Transparencia Fotos Sueños 3ra Fila */
	.view2 h3 {
		 font-size: 18px;
		 padding: 10px;
		 margin: 35px 0 0 0;
	}
	.view2 p {
		 font-size: 12px;
	}
	/* Fin Transparencias Fotos Sueños 3ra Fila */
}
@media(max-width:390px){
	#main-slider .carousel h2 {
	  font-size: 24px;
	}
	#main-slider .carousel h4 {
	  font-size: 16px;
	}
	#main-slider .carousel p {
	  font-size: 14px;
	}
	#sueños .mid-box h1 { 
		font-size:16px;
	}
}
@media (max-width:551px){
	#footer .btn2 {
		float:left;
		width:100%;
	}
}

  
